@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
  background-image: url('http://www.grtsolucoes.com.br/wa_images/site-1---s-mouse.png?v=1g3in58');
  color: #18293C;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
